{% extends 'base.html.twig' %}

{% block title %}Randonnées permanentes{% endblock %}
{% block descr %}<meta name="description" content="Les Randonnées permanentes, véritable patrimoine fédéral, mis à disposition de tou.te.s !">{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: auto;
        }
    </style>
{% endblock %}

{% block body %} {#"https://services5.arcgis.com/x7yCK2swiqKDYsU6/arcgis/rest/services/VELOENFRANCE/FeatureServer/0/query?where=REFERENCE_SOUSTYPEPOI=101&f=json&outFields=*&returnGeometry=true&outSR=4326"#}

<section style='background-image : url(assets/img/bike-parts.svg); background-size: cover;'>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-12 pt-2 pb-5">
                <h2 class="my-5 text-center">Brevet de Cyclotourisme National<br>Brevet des Provinces Françaises (BCN-BPF)<br><img src="{{ asset('build/images/logos/logo_ffvelo.svg') }}" title="FFVélo" width="80"></h2>
                <table id="table_basevtt" class="display" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom</th>
                            <th>Description</th>
                      </tr>
                    </thead>          
                </table>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script>

        $('#table_basevtt').DataTable({
            ajax: {
                url: "https://services5.arcgis.com/x7yCK2swiqKDYsU6/arcgis/rest/services/VELOENFRANCE/FeatureServer/0/query?where=REFERENCE_SOUSTYPEPOI=204&f=json&outFields=*&returnGeometry=true&outSR=4326",
                dataSrc: 'features'
            },
            columns: [
                {"render": function(d, t, r) {
                    return  `<img class="fit-picture center" src="https://s3.eu-central-1.amazonaws.com/veloenfrance/POI/${r.attributes.IDENTIFIANT_POI}/Photos/mini/1_330.jpg" >`;
                }},
                {"render": function(d, t, r) {
                    return `${r.attributes.NOM}<br>${r.attributes.COMMUNE}`;
                }},
                {"render": function(d, t, r) {
                    return `${r.attributes.DESCRIPTION} <a href="https://veloenfrance.fr/labels-velo?id_poi=${r.attributes.IDENTIFIANT_POI}" target="_blank">Plus d\'infos</a>`;
                }},
               
            ],
            "pageLength": 10,
            "scrollX": true,
            "scrollY": "500px",
            dom: 'Blfrtip',
            buttons: [
                { extend: 'copy', text: 'Copier <i class="far fa-fw fa-copy"></i>', className: 'btn btn-sm btn-bubble-blue rounded-pill mb-2 mr-1' },
                { extend: 'csv', text: 'CSV <i class="fas fa-fw fa-file-csv"></i>', className: 'btn btn-sm btn-bubble-blue rounded-pill mb-2 mr-1' },
                { extend: 'excel', text: 'Excel <i class="fas fa-fw fa-file-excel"></i>', className: 'btn btn-sm btn-bubble-blue rounded-pill mb-2 mr-1' },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    text: 'PDF <i class="fas fa-fw fa-file-pdf"></i>',
                    className: 'btn btn-sm btn-bubble-blue rounded-pill mb-2 mr-1'
                },
            ],
            "language": {
                "search": "Rechercher",
                "info": "Affichage des éléments _START_ à _END_ sur _TOTAL_ éléments",
                "lengthMenu": "Afficher _MENU_ résultats",
                "paginate": {
                    "first":      "Premier",
                    "last":       "Dernier",
                    "next":       "Suivant",
                    "previous":   "Précédent"
                },
            },
            "columnDefs": [
                { "width": "25%", "targets": [0,1] },
            ]
        });

</script>
   
    
{% endblock %}