{% extends 'base.html.twig' %}

{% block descr %}<meta name="description" content="veloenfrance.fr: le portail de la pratique du vélo accessible à tous, par la Fédération française de cyclotourisme !">{% endblock %}

{% block body %}


<header class="pt-5-6">
	<div class="container-fluid p-0">
		<div id="carousel-home-page" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner bg-gradient-grey">

				<div  class="carousel-item active" >
					<div class="row">
						<div class="col" style="background: url('/build/images/4vents-slide.jpg') center; background-size:cover;"></div>
						<div class="col-lg-5 p-5 d-flex align-self-center min-h-500">
							<div class="align-self-center mt-n5 mx-3 py-sm-0 py-4">
								<h1 class="h1-carousel text-success text-uppercase mt-sm-0 mt-3">Découvrez le Centre nature Quatre vents</h1>
								<h3 class="text-primary text-uppercase"></h3>
								<p class="line-clamp my-3 pr-4"></p>
								<p class="line-clamp my-3 pr-4"></p>
								<a href><button class="btn btn-bubble-blue rounded-pill">DÉCOUVRIR <i class="fas fa-fw fa-chevron-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>

				<div  class="carousel-item" >
					<div class="row">
						<div class="col" style="background: url('/build/images/4vents-slide.jpg') center; background-size:cover;"><p class="bg-light text-dark-50" style="position:absolute; bottom:0; right:0; margin:auto;"></p></div>
						<div class="col-lg-5 p-5 d-flex align-self-center min-h-500">
							<div class="align-self-center mt-n5 mx-3 py-sm-0 py-4">
								<h1 class="h1-carousel text-success text-uppercase mt-sm-0 mt-3">le Circuit du mois</h1>
								<h3 class="text-primary text-uppercase"></h3>
								<span class="badge badge-pill badge-primary mr-1 mt-1"></span><span id="difficulte-circuit" class="badge badge-pill badge-primary mr-1 mt-1"></span>
								<span class="badge badge-pill badge-primary mr-1 mt-1"></span><span id="denivele-circuit" class="badge badge-pill badge-primary mr-1 mt-1"></span>
								<p class="line-clamp my-3 pr-4"></p>
								<a href><button class="btn btn-bubble-blue rounded-pill">DÉCOUVRIR <i class="fas fa-fw fa-chevron-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>

				<div class="carousel-item">
					<div class="row">
						<div class="col" style="background: url('/build/images/idees-sorties-slide.jpg') center; background-size:cover;"></div>
						<div class="col-lg-5 p-5 d-flex align-self-center min-h-500">
							<div class="align-self-center mt-n5 mx-3 py-sm-0 py-4">
								<h1 class="h1-carousel text-success text-uppercase mt-sm-0 mt-3">Les sorties du weekend</h1>
								<p class="line-clamp my-3 pr-4">Et vous, que faîtes-vous ce week-end ? Où que vous soyez, ne tardez pas à découvrir les randonnées organisées par nos clubs affiliés !</p>
								<a href=""><button class="btn btn-bubble-blue rounded-pill">DÉCOUVRIR <i class="fas fa-fw fa-chevron-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>

			</div>
			
			<a class="carousel-control-prev" href="#carousel-home-page" role="button" data-slide="prev">
				<img class="img-fluid" src="/build/images/chevron-left.svg" width="30">
				<span class="sr-only">Précédent</span>
			</a>
			<a class="carousel-control-next" href="#carousel-home-page" role="button" data-slide="next">
				<img class="img-fluid" src="/build/images/chevron-right.svg" width="30">
				<span class="sr-only">Suivant</span>
			</a>
		</div>
	</div>
</header>

<section class="my-2" id="intro">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center text-center p-5 mt-n4">
			<div class="col-auto p-3">
				<img src="/build/images/logos/logo_ffvelo.svg" title="FFVélo" width="80">
			</div>
			<div class="col-auto p-3">
				<img src="/build/images/logos/veloenfrance.svg" width="250">
			</div>
			<div class="col-12 my-2 text-center">
				<h5 class="font-italic text-primary">La Fédération française de cyclotourisme vous invite à découvrir la France à vélo avec <a class="a-white" href="#" >veloenfrance.fr</a></h5>
			</div>
		</div>
	</div>
</section>

<section class="bg-gradient-grey position-relative section-has-divider">
	<div class="container-fluid">
		<div class="row justify-content-center text-center bg-primary-3 mt-n4">
			<div class="col-xl-10 col-lg-12">
				<div class="card-deck p-3">
					<div class="card box-shadow mb-3">
						<img src="/build/images/trouver-un-circuit.jpg" class="card-img-top" alt="Circuits">
						<div class="card-body">
							<h1 class="h1-card text-success text-uppercase my-3">Circuits</h1>
							<p class="card-text">veloenfrance.fr s´enrichit chaque semaine de nouveaux itinéraires. N'hésitez pas à consulter régulièrement le site pour planifier de nouvelles balades à vélo.</p>
						</div>
						<div class="card-footer border-0">
							<a href="{{ path('circuits') }}" role="button" class="btn btn-bubble-blue rounded-pill my-2">TROUVER <i class="fas fa-fw fa-search"></i></a>
						</div>
					</div>
					<div class="w-100 d-lg-none mt-4"/></div>
					<div class="card box-shadow mb-3">
						<img src="/build/images/rando.jpg" class="card-img-top" alt="Calendrier des randonnées">
						<div class="card-body">
							<h1 class="h1-card text-success text-uppercase my-3">Agenda</h1>
							<p class="card-text">Notre agenda vous propose plus de 4000 rendez-vous tout au long de l’année : randonnées, rallyes et autres manifestations route, VTT, gravel, adaptées à tous les niveaux.</p>
						</div>
						<div class="card-footer border-0">
							<a href="{{ path('app_manifs') }}" role="button" class="btn btn-bubble-blue rounded-pill my-2">TROUVER <i class="fas fa-fw fa-search"></i></a>
						</div>
                    </div>
                    <div class="w-100 d-lg-none mt-4"></div>
					<div class="card box-shadow mb-3">
						<img src="https://ffvelo.fr/wp-content/uploads/2019/07/brevet-initiation.jpg" class="card-img-top" alt="Clubs">
						<div class="card-body">
							<h1 class="h1-card text-success text-uppercase my-3">Clubs</h1>
							<p class="card-text">La Fédération française de cyclotourisme vous accueille dans ses 3000 clubs répartis dans toute la France. Venez découvrir de nouveaux horizons, à votre rythme, sans chronomètre !</p>
						</div>
						<div class="card-footer border-0">
							<a href="{{ path('app_clubs') }}" role="button" class="btn btn-bubble-blue rounded-pill my-2">TROUVER <i class="fas fa-fw fa-search"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-separator-top rotate-Y"></div>
	<div class="section-separator-bottom rotate-Y"></div>
</section>


{% endblock %}
