{% extends 'base.html.twig' %}

{% block title %}{% trans %}Voyages à la carte{% endtrans %}{% endblock %}
{% block descr %}<meta name="description" content="Des voyages à vélo sur mesure, réservables en quelques clics !">{% endblock %}

{% block body %}
<section class="pb-4">
	<div class="OsItinerance OsItPartner CssCustom mt-5">
	    <div id="eiti-partner"></div>
    </div>	
</section>

<!--Code Javascript d'instanciation-->

    <link href="https://gadget.open-system.fr/widgets/mtef/mtef/mtef.min.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="https://gadget.open-system.fr/widgets-libs/rel/noyau-2.0.min.js"></script>
    <script src="https://gadget.open-system.fr/widgets/mtef/mtef/mtef.min.js" type="text/javascript"></script>
    <script type="text/javascript" xml:space="preserve">
        window.eitiLayer = [
        {
            /*optionnel*/ //tags:"[['moto','voiture'],[...]]",			page: 'CatalogRoutesPage',
            map: {lib: 'MapMichelinDevice'},
                    
            langue:'fr',
            partner:'ffct',
                    
            catalogId: 'CAT-66453-9'
        }
        ];
    </script>

{% endblock %}
