{% extends 'base.html.twig' %}

{% block title %}{% trans %}Voyages{% endtrans %}{% endblock %}
{% block descr %}<meta name="description" content="Voyagez à vélo, en groupe ou en autonomie !">{% endblock %}

{% block body %}

<section>
    <div class="container">
        <div class="row align-items-center p-5">
            <div class="col-sm-6 mb-2">
                <div class="card">
                    <img src="https://www.charleville-sedan-tourisme.fr/wp-content/uploads/2018/04/la-meuse-a-velo-ardennes-charleville-sedan-1600x900.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Les séjours organisés par la Fédération française de cyclotourisme</h5>
                        <p class="card-text">Vous êtes licencié·e à la Fédération ? Découvrez 100 destinations de rêve, en France et à l´étranger, avec des circuits en boucle ou itinérants spécialement conçus pour vous offrir le meilleur des régions ou pays que vous visiterez.</p>
                        <a href="https://inscriptions-ffct.org/sejour-ffct-2020" target="_blank" class="btn btn-sm btn-outline-success mt-2" role="button">Inscriptions en ligne</a>
                        <a href="https://ffvelo.fr/randonner-a-velo/ou-quand-pratiquer/sejours-et-voyages/?cat=120#module" target="_blank" class="btn btn-sm btn-outline-success mt-2" role="button">Tous les séjours</a>
                        <a href="https://ffvelo.fr/adherer" target="_blank" class="btn btn-sm btn-outline-success mt-2" role="button">Adhérer à la Fédération</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2014/04/16/20/30/bike-325890_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Votre séjour à la carte avec notre partenaire My Trip Tailor !</h5>
                        <p class="card-text">Des séjours itinérants accessibles à tou·te·s, licencié·e·s ou non, à organiser en un seul clic, conçus à partir des circuits de veloenfrance.fr !</p>
                        <a href="{{ path('mytriptailor') }}" class="btn btn-sm btn-outline-success" role="button">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}