{% extends 'base.html.twig' %}

{% block title "Connexion licencié" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="ssologin"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login_licencie') }}
{% endblock %}