{% extends 'base.html.twig' %}

{% block title %}BCN-BPF: Brevet de Cyclotourisme National - Brevet des Provinces Françaises{% endblock %}

{% block descr %}<meta name="description" content="Les « points contrôles BCN-BPF » – six par département – sont autant de lieux touristiques à découvrir.">{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}

    <div id="datatable" class="container-fluid pt-2">
        <div class="row">
            <div class="col-12 pt-2 pb-5">
                <h3 class="text-center">Brevet de Cyclotourisme National<br>Brevet des Provinces Françaises<br><img src="{{ asset('build/images/logos/logo_ffvelo.svg') }}" title="FFVélo" width="80"></h3>
                <table id="table_bcnbpf" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Ville</th>
                            <th>Code département</th>
                            <th>Nom département</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Plus d'infos</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    {{ encore_entry_script_tags('bcn_bpf') }}

{% endblock %}