{% extends 'base.html.twig' %}

{% block title "Bonnes adresses" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <div id="map-container">
        <div id="sidebar">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div id="geocoder" class="pl-2 pt-2"></div>
                </div>
                <div id="filters" class="ml-2 mr-2"></div>
                <div id="features" class="ml-2 mr-2 pt-5"></div>
            </div>
        </div>
        <div id="map"></div>
        <div id="infofeature"></div>
    </div>

{% endblock %}


{% block javascripts %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet.css') }}"/>
    <script src="{{ asset('vendor/js/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster.css') }}">
    <script src="{{ asset('vendor/js/leaflet-markerCluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-cluster.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/esri-leaflet-geocoder.css') }}"/>
    <script src="{{ asset('vendor/js/esri-leaflet-geocoder.js') }}"></script>
    <script>
        const menuUrl="{{ path('bonnes_adresses') }}";
        const token = "{{ token }}";
    </script>
    {{ encore_entry_script_tags('bonnes_adresses') }}
{% endblock %}