{% extends 'base.html.twig' %}

{% block title "Calendrier des randonnées" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {#<link rel="stylesheet" href="{{ asset('build/app.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/esri-leaflet-geocoder.css') }}"/>
{% endblock %}

{% block body %}

    <div id="map-container">
        <div id="sidebar">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div id="geocoder" class="pl-2 pt-2"></div>
                </div>
               
                <div id="filters" class="ml-2 mr-2 pt-5">

                    <div class="container">
                        <input id="flatpickr" type="text" name="flatpickr" placeholder="Quand ?">
                    </div>

                    <div id="nav_filters" class="d-flex w-100 text-center align-items-center justify-content-between pt-2">
                        <button 
                            id="btn_filters"
							class="d-flex p-3 w-100 align-items-center btn-filtres panel_filters text-uppercase collapsed"
                            type="button" 
                            data-toggle="collapse" 
                            data-target="#panel_filters" 
                            aria-expanded="false"
                            aria-controls="panel_filters">
                            <i class="fas fa-filter"></i><span class="mr-2"></span> Filtres
                        </button>
					</div>

                    <div class="collapse" id="panel_filters">
                        <div class="card card-filters p-3">

                            {# Régions/départements #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#depsregs" role="button" aria-expanded="false"
                                aria-controls="depsregs" title="Régions / départements">
                                <span>Administratifs</span>
                            </a>
                            <div class="collapse" id="depsregs">
                                <textarea id="clubFilter" class="col-12" name='tagsClubs' placeholder='Régions / départmeents'></textarea>
                            </div>

                            {# type de velo #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#typevelo" role="button" aria-expanded="false"
                                aria-controls="typevelo" title="Type de vélo">
                                <span>Type de vélo</span>
                            </a>
                            <div class="collapse mb-2" id="typevelo">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres/route.svg') }}" width="30"> Route
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="Pratique_Route=1">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres/vtt.svg') }}" width="30"> VTT
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="Pratique_VTT=1">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres/gravel.svg') }}" width="30"> Gravel
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="Pratique_Gravel=1">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres/marche.svg') }}" width="30"> Marche
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="Pratique_Marche=1">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            {# distance #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#distance" role="button" aria-expanded="false"
                                aria-controls="distance" title="Distance (km)">
                                <span>Distance</span>
                            </a>
                            <div class="collapse" id="distance">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col mb-5">
                                                    <div id="distSlider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            {# denivele #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#denivele" role="button" aria-expanded="false"
                                aria-controls="denivele" title="Dénivelé">
                                <span>Dénivelé</span>
                            </a>
                            <div class="collapse" id="denivele">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="container mb-2">
                                            <div class="row">
                                                <div class="col mb-5">
                                                    <div id="denivSlider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
                <div id="features" class="ml-2 mr-2 pt-3"></div>
            </div>
        </div>
        <div id="map"></div>
        <div id="infofeature"></div>
    </div>

{% endblock %}

{% block javascripts %}
    
    <script src="{{ asset('vendor/js/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/leaflet-markerCluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-cluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-geocoder.js') }}"></script>
    <script>
        const token = "{{ token }}";
        const menuUrl = "{{ path('app_manifs') }}"
    </script>
    {{ encore_entry_script_tags('calendrier') }}
    {#<script src="{{ asset('build/calendrier.js') }}"></script>#}
    {% endblock %}

