<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <body>
        <img width="100%" src="https://s3.eu-central-1.amazonaws.com/veloenfrance/CIRCUITS/174930/PNG/circuit.png"/>
    </body>
</html>