{% extends 'base.html.twig' %}

{% block title "Circuits" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {#<link rel="stylesheet" href="{{ asset('build/app.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/esri-leaflet-geocoder.css') }}"/>
{% endblock %}

{% block body %}

    <div id="map-container">
        <div id="sidebar">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div id="geocoder" class="pl-2 pt-2"></div>{# barre de saisie geocodeur #}
                </div>
                <div id="filters" class="ml-2 mr-2" value="1=1">
                   
                    <div id="nav_filters" class="d-flex w-100 text-center align-items-center justify-content-between pt-4">
                        <button 
                            id="btn_filters"
							class="d-flex p-3 w-100 align-items-center btn-filtres panel_filters text-uppercase collapsed"
                            type="button" 
                            data-toggle="collapse" 
                            data-target="#panel_filters" 
                            aria-expanded="false"
                            aria-controls="panel_filters">
                            <i class="fas fa-filter"></i><span class="mr-2"></span> Filtres
                        </button>
					</div>

                    <div class="collapse" id="panel_filters">
                        <div class="card card-filters p-3">

                            {# regions / departements #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#depsregs" role="button" aria-expanded="false"
                                aria-controls="depsregs" title="Régions / départements">
                                <span>Administratifs</span>
                            </a>
                            <div class="collapse" id="depsregs">
                                <textarea id="deptFilter" class="col-12" name='tagsDepts' placeholder='Régions/Départements'></textarea>
                            </div>

                            {# type de velo #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#typevelo" role="button" aria-expanded="false"
                                aria-controls="typevelo" title="Type de vélo">
                                <span>Type de vélo</span>
                            </a>
                            <div class="collapse mb-2" id="typevelo">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres/route.svg') }}" width="30"> Route
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="TYPE_VELO=1">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres//vtt.svg') }}" width="30"> VTT
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="TYPE_VELO=2">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <img src="{{ asset('/build/images/filtres/vtc.svg') }}" width="30"> VTC
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="typeVeloFilter" type="checkbox" value="TYPE_VELO=3">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            {# distance #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#distance" role="button" aria-expanded="false"
                                aria-controls="distance" title="Distance (km)">
                                <span>Distance</span>
                            </a>
                            <div class="collapse" id="distance">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col mb-5">
                                                    <div id="distSlider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            {# denivele #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#denivele" role="button" aria-expanded="false"
                                aria-controls="denivele" title="Dénivelé">
                                <span>Dénivelé</span>
                            </a>
                            <div class="collapse" id="denivele">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="container mb-2">
                                            <div class="row">
                                                <div class="col mb-5">
                                                    <div id="denivSlider"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
    
                            {# difficulte #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#difficulte" role="button" aria-expanded="false"
                                aria-controls="difficulte" title="Difficulté">
                                <span>Difficulté</span>
                            </a>
                            <div class="collapse" id="difficulte">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <i class="fas fa-star text-success"></i>
                                                Très facile
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="difficulteFilter" type="checkbox" value="DIFFICULTE=1">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <i class="fas fa-star text-primary"></i>
                                                Facile
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="difficulteFilter" type="checkbox" value="DIFFICULTE=2">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <i class="fas fa-star text-danger"></i>
                                                Difficile
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="difficulteFilter" type="checkbox" value="DIFFICULTE=3">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <i class="fas fa-star text-dark"></i>
                                                Très difficile
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input class="difficulteFilter" type="checkbox" value="DIFFICULTE=4">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            {# types et sous types de circuits #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#types" role="button" aria-expanded="false"
                                aria-controls="types" title="Type de circuits">
                                <span>Types de circuits</span>
                            </a>
                            <div class="collapse" id="types">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">
                                                <i class="fas fa-undo-alt"></i>
                                                Circuits en boucle
                                            </div>
                                            <div class="col-auto pull-right">
                                                <input id="boucle" type="checkbox" class="typeCircuitFilter" value="TYPE_CIRCUIT=1">
                                                <label for="boucle"></label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <a id="panelGrandIti" class="sub_plus d-flex btn w-100 align-items-center justify-content-between"
                                            data-toggle="collapse" href="#panelGrandIti" role="button" aria-expanded="false"
                                            aria-controls="panelGrandIti">
                                            Grands itinéraires
                                        </a>
                                        <div class="collapse filters-lvl2 mb-2" id="panelGrandIti">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Randonnées permanentes
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=201">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Randonnées permanentes du club des cent cols
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=201">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Véloroutes &amp; Voies Vertes</div>
                                                        <div class="col-auto pull-right">
                                                            <input id="voieverte" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=209">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            L'Avenue Verte London-Paris
                                                            <sup>®</sup></div>
                                                        <div class="col-auto pull-right">
                                                            <input id="london-paris" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=202">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Véloscénie
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="veloscenie" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=203">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La ViaRhôna
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="viarhona" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=204">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Vélo Francette
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="velofrancette" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=205">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Le Tour de Manche
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="tourdemanche" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=206">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Le Canal des Deux Mers
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="canal2mers" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=207">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Loire à vélo
                                                            <sup>®</sup> (EuroVelo 6)
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="loireavelo" type="checkbox"class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=208">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Le Grand Tour des Préalpes d'Azur
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="prealpes" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=210">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Vélodyssée
                                                            <sup>®</sup> (EuroVelo 1)
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="velodyssee" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=211">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Grande Traversée du Jura
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="traverseejura" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=212">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Le Tour de Gironde
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="tourgironde" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=213">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Vélomaritime
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="velomaritime" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=214">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Flow Velo
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="flowvelo" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=216">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Scandibérique (Eurovélo 3)
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="scandiberique" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=215">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Meuse à vélo (Eurovélo 19)
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="meuseavelo" type="checkbox"class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=217">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            La Voie Bleue
                                                            <sup>®</sup>
                                                        </div>
                                                        <div class="col-auto pull-right">
                                                            <input id="voiebleue" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=218">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="sub_plus d-flex btn w-100 align-items-center justify-content-between"
                                            data-toggle="collapse" href="#panelEvenements" role="button"
                                            aria-expanded="false" aria-controls="panelEvenements">
                                            Les évènements
                                        </a>
                                        <div class="collapse filters-lvl2 mb-2" id="panelEvenements">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Semaines fédérales</div>
                                                        <div class="col-auto pull-right">
                                                            <input id="semaine-federale" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=301">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col pull-left">
                                                            Raid VTT</div>
                                                        <div class="col-auto pull-right">
                                                            <input id="raidvtt" type="checkbox" class="sousTypeCircuitFilter" value="SOUS_TYPE_CIRCUIT=306">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
    
                            {# temps de parcours #}
                            <a class="plus d-flex btn btn-primary-2 w-100 align-items-center justify-content-between"
                                data-toggle="collapse" href="#temps" role="button" aria-expanded="false"
                                aria-controls="temps" title="Temps de parcours">
                                Temps de parcours
                            </a>
                            <div class="collapse mb-2" id="temps">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">0 - 1:00
                                            </div>
                                            <div class="col-auto pull-right">
                                                
                                                    <input class="tempsFilter" type="checkbox" value="TEMPS_PARCOURS<'01:00'">
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">1 - 3:00
                                            </div>
                                            <div class="col-auto pull-right">
                                                
                                                    <input class="tempsFilter" type="checkbox" value="TEMPS_PARCOURS BETWEEN '01:00' AND '03:00'">
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">3 - 8:00
                                            </div>
                                            <div class="col-auto pull-right">
                                                
                                                    <input class="tempsFilter" type="checkbox" value="TEMPS_PARCOURS BETWEEN '03:00' AND '08:00'">
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center justify-content-between">
                                            <div class="col pull-left">> 8:00</div>
                                            <div class="col-auto pull-right">
                                                
                                                    <input class="tempsFilter" type="checkbox" value="TEMPS_PARCOURS>'08:00'">
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features" class="ml-2 mr-2 pt-3"></div>{# rendu cards dans la sidebar #}
            </div>
        </div>
        <div id="map"></div> {# rendu carte #}
        <div id="infofeature"></div>{# rendu fiche descriptive #}
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('vendor/js/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/leaflet-markerCluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-cluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-geocoder.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.min.js"></script>
    <script>
        const menuUrl="{{ path('circuits') }}";
        const token = "{{ token }}";
    </script>
    {{ encore_entry_script_tags('circuits') }}
    {#<script src="{{ asset('build/circuits.js') }}"></script>#}
    
{% endblock %}