{% extends 'base.html.twig' %}

{% block title "Clubs" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/esri-leaflet-geocoder.css') }}"/>
{% endblock %}

{% block body %}
    <div id="map-container">
        <div id="sidebar">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div id="geocoder" class="pl-2 pt-2"></div>
                </div>
                <div id="filters" class="ml-2 mr-2 pt-5">
                    <div class="container pt-2">
                        <textarea id="depFilter" class="col-12" name='tagsDeps' placeholder='Département'></textarea>
                    </div>
                    <div class="container pt-2">
                        <textarea id="regFilter" class="col-12" name='tagsRegs' placeholder='Région'></textarea>
                    </div>
                    <div class="container">
                        <input class="typeVeloFilter" type="checkbox"  value="Pratique_Route=1"><label> Route</label>
                        <input class="typeVeloFilter" type="checkbox"  value="Pratique_VTT=1"><label> VTT</label>
                        <input class="typeVeloFilter" type="checkbox"  value="Pratique_Gravel=1"><label> Gravel</label>
                        <input class="typeVeloFilter" type="checkbox"  value="Pratique_Marche=1"><label> Marche</label>
                    </div>
                    <div class="container">
                        <div id="distSlider" class="my-2"></div>
                        <div id="denivSlider" class="my-5"></div>
                    </div> 
                </div>
                <div id="features" class="ml-2 mr-2 pt-3"></div>
            </div>
        </div>
        <div id="map"></div>
        <div id="infofeature"></div>
    </div>
{% endblock %}

{% block javascripts %}
    
    <script src="{{ asset('vendor/js/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/leaflet-markerCluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-cluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-geocoder.js') }}"></script>
    <script>
        const token = "{{ token }}";
        const menuUrl = "{{ path('app_clubs') }}"
    </script>
    {{ encore_entry_script_tags('clubs') }}
{% endblock %}

