{% extends 'base.html.twig' %}

{% block title "Labels Vélo" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <div id="map-container">
        <div id="sidebar">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div id="geocoder" class="pl-2 pt-2"></div>
                </div>
                <div id="filters" class="ml-2 mr-2 pt-5" value = "(REFERENCE_SOUSTYPEPOI IN (101,204,205)) AND VISIBILITE=1">
                    <div class="container">
                        <textarea id="deptFilter" class="col-12" name='tagsDepts' placeholder='Régions/Départements'></textarea>
                    </div>
                    <div class="container pt-2">
                        <input class="typePoiFilter" type="checkbox"  value="REFERENCE_SOUSTYPEPOI=101"><label> BCN/BPF</label>
                        <input class="typePoiFilter" type="checkbox"  value="REFERENCE_SOUSTYPEPOI=204"><label> Bases VTT</label>
                        <input class="typePoiFilter" type="checkbox"  value="REFERENCE_SOUSTYPEPOI=205"><label> Territoires Vélo</label>
                    </div>
                </div>
                <div id="features" class="ml-2 mr-2 pt-3"></div>
            </div>
        </div>
        <div id="map"></div>
        <div id="infofeature"></div>
    </div>

{% endblock %}


{% block javascripts %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet.css') }}"/>
    <script src="{{ asset('vendor/js/leaflet.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/leaflet-markerCluster.css') }}">
    <script src="{{ asset('vendor/js/leaflet-markerCluster.js') }}"></script>
    <script src="{{ asset('vendor/js/esri-leaflet-cluster.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/esri-leaflet-geocoder.css') }}"/>
    <script src="{{ asset('vendor/js/esri-leaflet-geocoder.js') }}"></script>
    <script>
        const menuUrl="{{ path('labels') }}"
    </script>
    {{ encore_entry_script_tags('labels_velo') }}
{% endblock %}