{% extends 'base.html.twig' %}

{% block title %}Randonnées permanentes{% endblock %}
{% block descr %}<meta name="description" content="Les Randonnées permanentes, véritable patrimoine fédéral, mis à disposition de tou.te.s !">{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <section>
        <div id="datatable" class="container-fluid pt-2">
            <div class="row">
                <div class="col-12 pt-2 pb-5">
                    <h3 class="text-center">Randonnées Permanentes labellisées<br/>Fédération française de cyclotourisme<br><img src="{{ asset('build/images/logos/logo_ffvelo.svg') }}" title="FFVélo" width="80"></h3>
                    <table id="table_rp" class="table table-striped table-bordered" style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script>
        const data = {{ rps|json_encode()|raw }};
    </script>
    {{ encore_entry_script_tags('randonnees_permanentes') }}
    

{% endblock %}