{% extends '@EasyAdmin/default/layout.html.twig' %}


{% block main %}

<div class="container">
    <div class="jumbotron my-4">
        <h1 class="display-6 text-center">veloenfrance.fr</h1>
        <p class="lead text-center">Bienvenue sur l'espace d'administration du site.</p>
    </div>
</div>
{% endblock %}
