<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ title }}</title>
        <style>
            footer { position: fixed; bottom: -60px; left: 0px; right: 0px; height: 50px; text-align: center; }
        </style>
    </head>
    <body>
        <header>
            <div class="row">
                <img width="200" src="/build/images/logos/logo-ffvelo.jpg"/>
                <h1>{{ header }}</h1>
            </div>
        </header>
        <h2>{{ nom }}</h2>
        <h4>Informations:</h4>
            <ul>
                <li>Type de parcours : {{ type }}</li>
                <li>Département : {{ departement }}</li>
                <li>Commune de départ: {{ commune_depart }}</li>
                <li>Distance (km): {{ distance }}</li>
                <li>Dénivelé cumulé positif (m): {{ denivele }}</li>
                <li>Temps estimé (hh:mm): {{ temps }}</li>
                <li>Difficulté: {{ difficulte }}</li>
            </ul>
        <h4>Description:</h4>
        <p>{{ description }}</p>
        <footer>© 2021 Fédération française de cyclotourisme</footer>
    </body>
</html>