{% extends 'base.html.twig' %}

{% block title %}Cotation des circuits{% endblock %}
{% block descr %}<meta name="description" content="Calculez la difficulté de vos parcours vélo.">{% endblock %}

{% block body %}

<section class="pt-5">
    <div class="container">
        <div class="row align-items-center p-5">
            <div class="my-5">
                <h1 class="text-center">Calculer la difficulté d'un circuit</h1><br />
                La classification de la difficulté et le balisage d’un itinéraire à vélo sont deux informations essentielles qui conditionnent la sécurité du pratiquant, ainsi que le choix et la qualité de son parcours. 
                Le but de ces fiches est de se doter d’un système de cotation national unique et partagé sur les niveaux de difficulté des itinéraires vélo (boucles cyclotouristiques, sections de véloroutes, itinéraires VTT) 
                permettant une évaluation simple et claire du point de vue des pratiquants. La Fédération française de cyclotourisme a donc travaillé aux côtés des acteurs du tourisme et du vélo pour proposer un outil de cotation unique et partagé par tous.
                Retrouvez ci-dessous les formulaires pour vous aider à calculer la difficulté de vos parcours vélo:
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2018/07/18/22/27/way-3547519_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Circuits cyclotouristiques de type route</h5>
                        <a href="{{ path('cotation_route') }}" class="btn btn-sm btn-outline-success" role="button">Calculer la difficulté</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-2">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2015/07/16/16/34/cyclists-847896_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Portions de véloroutes</h5>
                        <a href="{{ path('cotation_veloroute') }}" class="btn btn-sm btn-outline-success" role="button">Calculer la difficulté</a>
                    </div>
                </div>
            </div>

             <div class="col-sm-6 mb-2">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2016/01/30/16/31/mtb-1169960_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Circuits cyclotouristiques de type VTT</h5>
                        <a href="{{ path('cotation_vtt') }}" class="btn btn-sm btn-outline-success" role="button">Calculer la difficulté</a>
                    </div>
                </div>
            </div>

             <div class="col-sm-6 mb-2">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2016/10/16/04/26/landscape-1744370_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Circuits cyclotouristiques de type VTT à assistance électrique</h5>
                        <a href="{{ path('cotation_vttae') }}" class="btn btn-sm btn-outline-success" role="button">Calculer la difficulté</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


{% endblock %}