{% extends 'base.html.twig' %}

{% block title %}Cotation des portions de veloroute{% endblock %}
{% block descr %}<meta name="description" content="Calculez la difficulté des portions de véloroutes">{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 pt-5-6">
                    <h2 class="pt-5 text-center">Aide à la cotation de portions de véloroutes</h2>
                </div>
                <div class="col-12 pt-3">
                    <div id="cotation-map" style="width: 100%; height: 400px;"></div><br />
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-8">
                    <label>Visualisation du parcours (gpx)</label>
                    <input type="file" id="opengpx" accept=".gpx"  />
                </div>
                <div class="w-100 pt-3"></div>
                <div class="col-8">
                    {{ form_row(form.departement) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.nom_circuit) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.commune_depart) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.distance) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.denivele) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.temps) }}
                </div>
                <div class="w-100"></div>
                <hr/>
                <div class="col-8">
                    {{ form_row(form.ratioChoice) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.revetementChoice) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.typeVoieRouteChoice) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.penteChoice) }}
                </div>
                <div class="w-100 pt-3"></div>
                <div class="col-8">
                    {{ form_row(form.difficulte) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                    {{ form_row(form.textDescr) }}
                    <label style="display:block; text-align: right;" id="count_text"><label/>
                </div>
                <div class="w-100"></div>
                <div class="col-8 text-center pt-5">
                    {{ form_row(form.submit) }}
                </div>
                <div class="w-100"></div>
                <div class="col-8 pt-2">
                    <hr>
                    <label style="color:#01557A;">Informations complémentaires à prendre en compte pour les boucles cyclotouristiques :</label>
                    <br/ >
                    <p><strong id="note1" class="green">[1]</strong> Toute boucle cyclotouristique, qui recueille quatre étoiles sur les deux premiers critères (« distance » et « dénivelé cumulé positif sur une journée ») est au minimum classé en catégorie « difficile » (ce qui exclut automatiquement les deux premiers niveaux de classification).</p>
                    <p><strong id="note2" class="green">[2]</strong> Pente continue sur au moins 500 mètres et raidillon possible sur une courte distance. A titre indicatif, le critère de la pente est complexe à appréhender, étant dépendant de l’effort maximal acceptable, compte tenu de la déclivité.</p>
                    <p><strong class="green">[3] Acronymes :</strong><br />
                    <strong>VV</strong> : Voie Verte<br />
                    <strong>PC</strong> : Piste Cyclable<br />
                    <strong>BC</strong> : Bandes Cyclables<br />
                    <strong>ZCA</strong> : Zone de Circulation Apaisée (Aire piétonne, Zone de Rencontre ou Zone 30 aménagées)<br />
                    <strong>BMF</strong> : Bandes Multifonctionnelles revêtues et régulièrement balayées (également appelées BDM / bandes dérasées multifonctionnelles, ou accotements roulables)<br />
                    <strong>v/j</strong> : Nombre de véhicules par jour<hr>
                    <h5 class="pt-3"><a class="green" href="https://ffvelo.fr/wp-content/uploads/2016/03/Tourisme-a-velo-referentiel-national_20160322.pdf" target="_blank"><strong>Consulter le référentiel national officiel</strong></a></h5></p>
                </div>      
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        {{ encore_entry_script_tags('cotation') }}
        {{ encore_entry_script_tags('cotation_veloroute') }}
    {% endblock %}

{% endblock %}