html, body, #map-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body { 
  padding-top: 60px;
}

.navbar {
  min-height: 60px;
  height: 60px;
  width: 100%;
}

.navbar-fixed-top{
  position: absolute;
}

#sidebar {
  float: left;
  height: 100%;
  max-width: 100%;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.infos-features {
  background: white;
  box-sizing: content-box;
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 0;
  height: 100%;
  width: 100%;
}

/*#infofeature-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
}*/

.feature-card {
  cursor: pointer;
}

#map {
  height: 100%;
  width: auto;
}

.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

/*.footer {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 999999;
}*/


@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
}

.buttons {
  position: absolute;
  top: 0px;
  z-index: 999;
  transform: translateX(-55px);
  text-align: center;
}

#close-infofeature {
  display: block;
  /*padding:0.5em;*/
  margin:0 auto;
  width: 40px;
  height: 40px;
}

#toggle-infofeature {
  display: block;
  /*padding:0.5em;*/
  margin:0 auto;
  width: 40px;
  height: 40px;

}

#info-descr{
  overflow-y: auto;
  overflow-x: hidden;
}

#info-title{
  padding-top: 60px;
}

/* style des clusters */
.cluster {
  background: rgba(195, 67, 27, 0.6);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: monospace;
}

.cluster:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}

.digits-1 {
  font-size: 14px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}

.digits-2 {
  font-size: 16px;
  height: 34px;
  width: 34px;
  line-height: 35px;
  margin-top: -17px;
  margin-left: -17px;
}

.digits-2:before {
  border-width: 2px;
}

.digits-3 {
  font-size: 18px;
  height: 48px;
  width: 47px;
  line-height: 47px;
  border-width: 3px;
  margin-top: -24px;
  margin-left: -24px;
}

.digits-3:before {
  border-width: 3px;
}

.digits-4 {
  font-size: 18px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  border-width: 4px;
  margin-top: -29px;
  margin-left: -29px;
}

.digits-4:before {
  border-width: 4px;
}
/* fin de style des clusters */

.geocoder-control-input {
	width: 86% !important;
	height: 40px !important;
}
