
body { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 60px;
}

.navbar {
  min-height: 60px;
  height: 60px;
  width: 100%;
}

.navbar-fixed-top{
  position: absolute;
}

/* datatables */
.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
	padding: 5px;
	text-indent: 5px;
	border-radius: 45px !important;
	font-size: 1rem !important;
	line-height: normal;
	width: 100%;
	background-position: right center;
	cursor: pointer;
	box-sizing: border-box;
	display: inline-block;
	outline: none !important;
	display: block;
}
#datatable {
	overflow-y: auto;
}
#table_bcnbpf a, #table_rp a {
	color: inherit;
	font-weight: bold;
	transition: all 0.1s ease-in;
}
#table_bcnbpf a:hover, #table_bcnbpf a:focus, #table_bcnbpf a:active, #table_rp a:hover, #table_rp a:focus, #table_rp a:active {
	color: #97bf15;
}




