{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}veloenfrance.fr : circuits, grands itinéraires et tourisme à vélo{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        {{ encore_entry_link_tags('site') }}
        {#<link rel="stylesheet" href="{{ asset('build/site.css') }}">#}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-fixed-top sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">vefr.test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="{{ path('circuits') }}">Circuits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="{{ path('app_manifs') }}">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" href="{{ path('app_clubs') }}">Clubs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Labels vélo
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-uppercase" href="{{ path('labels')  ~ "?REFERENCE_SOUSTYPEPOI=204&AND&VISIBILITE=1"  }}">Bases VTT</a>
                <a class="dropdown-item text-uppercase" href="{{ path('labels') ~ "?REFERENCE_SOUSTYPEPOI=205&AND&VISIBILITE=1" }}">Territoires vélo</a>
                <a class="dropdown-item text-uppercase" href="{{ path('bonnes_adresses') }}">Bonnes Adresses</a>
                <a class="dropdown-item text-uppercase" href="{{ path('rp') }}">Randonnées permanentes</a>
                <a class="dropdown-item text-uppercase" href="{{ path('bcnbpf')}}">Les plus beaux sites (BCN-BPF)</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="{{ path('voyages') }}">Voyages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-uppercase" href="{{ path('home') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FR
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('home') }}">FR</a>
                <a class="dropdown-item" href="{{ path('home') }}">EN</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      {% block body %}{% endblock %}

      {% if (app.request.get('_route') not in [
        'circuits','info_feature_circuit', 
        'labels','info_feature_labels',
        'bonnes_adresses','info_feature_bonne_adresse', 
        'app_manifs','info_feature_app_manifs',
        'app_clubs','info_feature_app_clubs'
      ])%}
        <footer id="footer" class="mt-auto py-3">
          <div class="container-fluid text-center">
            <div class="row">
              <div class="col">
                <span class="text-muted">© {{ "now"|date("Y") }} | Fédération française de cyclotourisme</span>
              </div>
            </div>
          </div>
        </footer>
      {% endif %}
      
      {#<script src="{{ asset('build/app.js') }}"></script>#}
      {{ encore_entry_script_tags('app') }}
      {% block javascripts %}{% endblock %}
    </body>

</html>